Makefile
autom4te.cache/
compile
config.h
config.h.in~
config.log
config.status
libtool
m4/
sctplib/Makefile
sctplib/docs/Makefile
sctplib/docs/en/Makefile
sctplib/docs/sctplib/Makefile
sctplib/manual/Makefile
sctplib/programs/.deps/
sctplib/programs/.libs/
sctplib/programs/Makefile
sctplib/programs/chargen_server
sctplib/programs/chargen_server.o
sctplib/programs/combined_server
sctplib/programs/combined_server.o
sctplib/programs/daytime_server
sctplib/programs/daytime_server.o
sctplib/programs/discard_server
sctplib/programs/discard_server.o
sctplib/programs/echo_server
sctplib/programs/echo_server.o
sctplib/programs/echo_tool
sctplib/programs/echo_tool.o
sctplib/programs/localcom
sctplib/programs/localcom.o
sctplib/programs/parser.o
sctplib/programs/sctp_wrapper.o
sctplib/programs/terminal
sctplib/programs/terminal.o
sctplib/programs/test_tool
sctplib/programs/test_tool.o
sctplib/programs/testengine.o
sctplib/programs/testsctp
sctplib/programs/testsctp.o
sctplib/sctp/.deps/
sctplib/sctp/.libs/
sctplib/sctp/Makefile
sctplib/sctp/SCTP-control.lo
sctplib/sctp/SCTP-control.o
sctplib/sctp/adaptation.lo
sctplib/sctp/adaptation.o
sctplib/sctp/auxiliary.lo
sctplib/sctp/auxiliary.o
sctplib/sctp/chunkHandler.lo
sctplib/sctp/chunkHandler.o
sctplib/sctp/distribution.lo
sctplib/sctp/distribution.o
sctplib/sctp/errorhandler.lo
sctplib/sctp/errorhandler.o
sctplib/sctp/flowcontrol.lo
sctplib/sctp/flowcontrol.o
sctplib/sctp/globals.lo
sctplib/sctp/globals.o
sctplib/sctp/libsctplib.la
sctplib/sctp/md5.lo
sctplib/sctp/md5.o
sctplib/sctp/pathmanagement.lo
sctplib/sctp/pathmanagement.o
sctplib/sctp/rbundling.lo
sctplib/sctp/rbundling.o
sctplib/sctp/recvctrl.lo
sctplib/sctp/recvctrl.o
sctplib/sctp/reltransfer.lo
sctplib/sctp/reltransfer.o
sctplib/sctp/sbundling.lo
sctplib/sctp/sbundling.o
sctplib/sctp/streamengine.lo
sctplib/sctp/streamengine.o
sctplib/sctp/timer_list.lo
sctplib/sctp/timer_list.o
stamp-h1
*.o
*.lo
*.Plo
sctplib/programs/tags
.vscode
